@charset "UTF-8";

.prpposallist h1{
  margin-bottom: 200px;
  padding: 30px 0;
  font-size: 1.2rem;
}
.prposal_contents{
  overflow: hidden;
  width: 840px;
  margin: auto;
  padding: 0;
  list-style: none;;
}
.prposal_contents li{
  float: left;
  margin: 0 30px 0 0;
  border: 3px solid #dadada;
  width: 250px;
  border-radius: 10px;
}
.prposal_contents li:last-child{
  margin: 0 0 0 0;
}
.proposal_link{
  text-align: center;
}
.thumbnail{
  display: block;
  margin: auto;
}
img{
  width: 192px;
  height: 108px;
}
